* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box; }

body {
  background: linear-gradient(3deg, #610ec6 14%, #331447 42%, #050505 100%);
  background-attachment: fixed; }

div ul li {
  display: inline-block;
  margin-left: 4rem; }
  div ul li a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 3px; }
    div ul li a:hover {
      background: #9e1771;
      box-shadow: 0 0 5px #9e1771, 0 0 25px #9e1771, 0 0 50px #9e1771, 0 0 200px #9e1771; }


footer{
  background: #000000;
  min-height: 100px;;
  text-align: center;}  
  footer i {
    width: 30px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 17px;
    transition: transform 0.5s ease;
    font-size: 30px;
    color: #742574; }
    footer i:hover {
      animation: zoom-in-zoom-out 1s; }
    footer i p {
      color: #f3f3f3;
      text-align: center; }

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.5, 1.5); }
  100% {
    transform: scale(1, 1); } }

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.titulos1 {
  color: #1f1b20;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 10px white; }

.titulos2 {
  color: #705481;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 30px;
  text-align: center; }

.textos {
  padding-left: 3rem;
  text-align: center; }

  .texto-footer {
    color: #cccaca;
    font-family: Arial, Helvetica, sans-serif;
  }  

.p {
  font-size: 1.5rem; }

  .main__seccion_cajita_subtitulo {
    background-color: #d3d3d3;
    width: 60%;
    height: 18%;
    margin-left: 5rem;
    overflow: hidden;
    transition: 0.8s;
    object-fit: cover; }
  .main__seccion_cajita_subtitulo:hover {
    transform: scale(1.2); }
  .main__seccion_cajita_subtitulo2 {
    background-color: #d3d3d3;
    width: 60%;
    height: 15%;
    margin-left: 20rem;
    overflow: hidden;
    transition: 0.8s;
    object-fit: cover; }
    .main__seccion_cajita_subtitulo2:hover {
    transform: scale(1.2); }

.main__seccion_cajita {
  background-image: url(../assets/images/hombre-mirando-espacio.jpg);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 800px; }
    
.foto_contacto {
  background-image: url(../assets/images/comunicacion-usuarios.jpg);
  background-position: center;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat; }

.eventos {
  background-image: url(../assets/images/viajes.jpg);
  background-position: center;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat; }

.tecnologia {
  background-image: url(../assets/images/naves.jpg);
  background-position: center;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat; }

.equipo {
  background-image: url(../assets/images/equipos-trabajando.jpg);
  background-position-x: center;
  width: 100vh;
  height: 500px;
  background-repeat: no-repeat; }

#equipo-fila {
  border-radius: 10px; }

#local {
  margin-top: 50px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  padding-bottom: 300px; }

.carousel-item {
  height: 50vh; }
  .carousel-item .carousel-item img {
    object-fit: cover;
    height: 90%; }

.mapa {
  width: 100%;
  height: 500px; }

.formulario {
  background-image: url(../assets/images/foto-formulario.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.texto_form {
  text-shadow: 1px 1px 5px #d353a2;
  font-style: oblique;
  color: #f3f3f3; }

.eventos_tabla {
  margin: 3rem 3rem; }
  .eventos_tabla .eventos_tabla iframe {
    height: 40vh; }

.cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;}

.card-equipo {
  display: flex;
  width: 450px;
  height: 250px;
  background-color: #d2c2d8;
  box-shadow: 0px 0px 8px 2px #000;
  border-radius: 30px;
  padding: 1rem 1rem; }

  #bordes {
    background-color: #d2c2d8;
    box-shadow: 0px 0px 8px 2px #000;
    padding: 1rem 1rem; }

#contenedorAnim {
  overflow: hidden; }

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/
@media (max-width: 1200px) {
  .main__seccion_cajita_subtitulo {
    display: block; }
  .main__seccion_cajita_subtitulo2 {
    margin-left: 10rem;
    display: block; }
  .titulos2 {
    font-size: 1.5rem; }
  .textos {
    font-size: 1.0rem; }
  .carousel-item {
    height: 40vh; }
  /*=========================MEDIA QUERIES PANTALLA SM================================*/ }

@media (max-width: 1200px) and (max-width: 768px) {
  .main__seccion_cajita {
    background-image: url(../assets/images/hombre-mirando-espacio.jpg);}
  .foto_contacto {
    background-image: url(../assets/images/comunicacion-usuarios.jpg);}
  .tecnologia{
    background-image: url(../assets/images/naves.jpg);}
  .eventos{
    background-image: url(../assets/images/viajes.jpg);}
  .equipo {
    background-image: url(../assets/images/equipos-trabajando.jpg);}
  .main__seccion_cajita_subtitulo {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    max-width: 80%; }
  .main__seccion_cajita_subtitulo2 {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    max-width: 70%; }
  .titulos1 {
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 5px white; }
  .titulos2 {
    font-size: 1.4rem; }
  .textos {
    font-size: 1rem; }
  .carousel-item {
    height: 30vh; } 
  .formulario {
    width: 90%;}}

  /*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/ 

@media (max-width: 1200px) and (max-width: 576px) {
  .formulario {
    width: 85%;}
  .titulos1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 5px white; }
  .main__seccion_cajita .eventos {
    max-width: 500px;
    background-repeat: no-repeat; }
  .main__seccion_cajita_subtitulo {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    max-width: 80%; }
  .main__seccion_cajita_subtitulo2 {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    max-width: 70%;
    height: 20%; }
  .cartas{
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%; 
    margin-right: auto;}
  .titulos2 {
    font-size: 1.5rem; }
  .textos {
    justify-content: center;
    font-size: 1rem; }
  .carousel-item {
    height: 25vh; } }
